.add-widget-panel.active {
    display: absolute;
    left: 0;
    top: 0;
    transition: .5s;
}

.add-widget-panel.inactive {
    display: none;
    left: 0;
    transition: .5s;
    top: -90vh;
}

.add-widget-header {
  align-items: center;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 15px 64px;

  h1 {
    color: white;
    font-size: 20px;
    letter-spacing: -.1px;
  }
}
